h1,
p {
  text-align: center;
}

footer {
  text-align: center;
}

a {
  padding: 10px;
  color: green;
}

.croissant-image {
  max-width: 100%;
  margin: 30px auto;
  border-radius: 10px;
  display: block;
}

.email-link {
  padding: 0;
  color: blue;
}
